<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Template</title>
        {% load static %}
        <!-- Favicon-->
        {% comment %} <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="applicationStore/base/static/css/styles.css" rel="stylesheet" />
        <style>
            .header {
                position: relative;
                height: 100vh;
                color: white;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                transition: background-image 1s ease-in-out;
            }
    
            .header .content {
                position: relative;
                z-index: 2;
            }
    
            .header::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5); /* Optional: To add a dark overlay */
                z-index: 1;
            }
        </style>
    </head>
    <body>
        <!-- NUEVA LINEA 20, 12 Navigation-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Knowledge Nest</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="aplicationStore/templates/about.html">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Item</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="header" id="header">
            <div class="content">
                <h1 class="display-4 fw-bolder">Empowering Minds</h1>
                <p class="lead fw-normal text-white-500 mb-0">One App at a Time</p>
            </div>
        </header>
        <div class="background-container" id="background-container"></div>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://i.pinimg.com/736x/00/c6/48/00c648809f9aea2e03fcc8a8b261d80f.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">EcoWarriors</h5>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><button class="btn btn-outline-dark mt-auto download-btn" data-filename="EcoWarriors.txt" data-content="Thank you for downloading EcoWarriors!">Download</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://i.pinimg.com/originals/65/03/b6/6503b6a8866b9b984623860df31c5fb0.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">ArtCreativo</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><button class="btn btn-outline-dark mt-auto download-btn" data-filename="ArtCreativo.txt" data-content="Thank you for downloading ArtCreativo!">Download</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjpEcJMJ-VFgsKdM0VtKbSfxADvWnkPcy7gZuLHe5Xjoe4bI8jRF1uLPi2XUs-P9k6tBgshdIShUbHXimStkTSaiN9v2kqgvnjZMfWzyAubnfO2wi0Dj6sQkyWSxKyIV-aLJAdQvMx9TM0/s1600/maquina+creativa+de+libros_Eren+Dedeleroglu.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">PhysicsPro</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><button class="btn btn-outline-dark mt-auto download-btn" data-filename="PhysicsPro.txt" data-content="Thank you for downloading PhysicsPro!">Download</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://img.freepik.com/vector-gratis/concepto-educacion-adorable-dibujado-mano_23-2147911538.jpg?w=740&t=st=1717053371~exp=1717053971~hmac=044d2e43a6329bf52c473971011c86fefd104be7ca6f9994764ba04ba6dc3485" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">TechTrainers</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><button class="btn btn-outline-dark mt-auto download-btn" data-filename="TechTrainers.txt" data-content="Thank you for downloading TechTrainers!">Download</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://i.pinimg.com/564x/18/2b/cf/182bcf589e3c7a682ada0e597ee4c949.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">BioBuddies</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><button class="btn btn-outline-dark mt-auto download-btn" data-filename="BioBuddies.txt" data-content="Thank you for downloading BioBuddies!">Download</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://i.pinimg.com/564x/ef/91/4f/ef914f8af29685275c5f89c79c822e17.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">LogicPuzzles</h5>
                                    <!-- Product price-->
                                    $120.00 - $280.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><button class="btn btn-outline-dark mt-auto download-btn" data-filename="LogicPuzzles.txt" data-content="Thank you for downloading LogicPuzzles!">Download</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://i.pinimg.com/564x/75/38/46/753846a58d15368b8e43839d6010c98e.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">ScienceExplorers</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><button class="btn btn-outline-dark mt-auto download-btn" data-filename="ScienceExplorers.txt" data-content="Thank you for downloading ScienceExplorers!">Download</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://i.pinimg.com/564x/0d/0f/ed/0d0fed488e26e17ca6100ed1f8cf5fa6.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">ChemLab</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><button class="btn btn-outline-dark mt-auto download-btn" data-filename="ChemLab.txt" data-content="Thank you for downloading ChemLab!">Download</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Knowledge Nest 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- Script para cambiar las imágenes de fondo -->
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const images = [
            'https://i.pinimg.com/736x/a9/ac/96/a9ac968587e0248bfaa0059b33f91399.jpg',
            'https://i.pinimg.com/564x/f2/cc/ab/f2ccabd255c385f92f95102856b22761.jpg',
            'https://i.pinimg.com/564x/d9/31/5e/d9315e4c788771c8cba5406db9791d75.jpg',
            'https://i.pinimg.com/564x/79/ef/78/79ef7895f5ea161f6461e67ac45e0ae9.jpg',
                // Añade aquí las URLs de tus imágenes
            ];

            let currentImageIndex = 0;

            function changeBackgroundImage() {
                const header = document.getElementById('header');
                if (!header) {
                    console.error('Header element not found');
                    return;
                }
                header.style.backgroundImage = `url(${images[currentImageIndex]})`;
                console.log(`Changing background to: ${images[currentImageIndex]}`); // Debugging line
                currentImageIndex = (currentImageIndex + 1) % images.length;
            }

            // Cambia la imagen cada 7 segundos
            setInterval(changeBackgroundImage, 7000);

            // Cambia la imagen inmediatamente al cargar la página
            changeBackgroundImage();
        });
    </script>
        
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Selecciona todos los botones con la clase 'download-btn'
            var downloadButtons = document.querySelectorAll('.download-btn');
            
            // Itera sobre cada botón y agrega un evento de clic
            downloadButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    // Obtiene el nombre del archivo y el contenido del atributo 'data'
                    var filename = this.getAttribute('data-filename');
                    var content = this.getAttribute('data-content');
                    
                    // Crea un enlace 'a' temporal
                    var downloadLink = document.createElement('a');
                    downloadLink.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(content));
                    downloadLink.setAttribute('download', filename);
                    
                    // Simula el clic en el enlace para iniciar la descarga
                    downloadLink.style.display = 'none';
                    document.body.appendChild(downloadLink);
                    downloadLink.click();
                    document.body.removeChild(downloadLink);
                });
            });
        });
    </script>
    


</html>
